<h3>Add a new friend or enemy</h3>
<div class="container">
  <table class="table" style="width:60%">
    <th>Name*</th>
    <th>Age</th>
    <tr>
      <td>
        <input type="text" ng-model="newPerson.name" default="Enter a new name">
      </td>
      <td>
        <input type="text" ng-model="newPerson.age" default="Enter a new age">
      </td>
    </tr>
  </table>
</div>
<div class="container">
  <button ng-click="post(newPerson)" class="btn btn-primary" type="button" name="button">Add Friend</button>
  <button ng-method="post()" class="btn btn-danger" type="button" name="button">Add Enemy</button>
</div>
<br />
<div style="color:red;">{{message}}</div>
