<h1>{{title}}</h1>

<!-- Display -->
<div ng-init="getAll()">
  <table class="table table-striped table-hover" style="width:70%">
    <th>Name</th><th>Age</th><th>Delete</th><th>Update</th>
    <tr ng-repeat="person in friends" key="person._id">
      <td>
        <input type="text" ng-model="person.name">
      </td>
      <td>
        <input type="text" ng-model="person.age">
      </td>
      <td>
        <button ng-click="delete(person._id)" class="btn btn-danger glyphicon glyphicon-remove"></button>
      </td>
      <td>
        <button ng-click="put(person)" class="btn btn-basic glyphicon glyphicon-pencil"></button>
      </td>
    </tr>
  </table>
</div>

<!-- Load UI for IO -->
<span ng-include="'templates/addPerson.html'"></span>
